-
    const defaultDownloadBtnProps = {
        classes: '',
        text: 'Название файла без заголовков',
        type: 'PDF',
        size: '1.49 МБ',
        date: '27.05.2024',
        iconName: 'download',
        withTitles: false
    }

mixin download-btn(props = defaultDownloadBtnProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultDownloadBtnProps.classes,
            text: props.text ? props.text : defaultDownloadBtnProps.text,
            type: props.type ? props.type : defaultDownloadBtnProps.type,
            size: props.size ? props.size : defaultDownloadBtnProps.size,
            date: props.date ? props.date : defaultDownloadBtnProps.date,
            iconName: props.iconName ? props.iconName : defaultDownloadBtnProps.iconName,
            withTitles: props.withTitles ? props.withTitles : defaultDownloadBtnProps.withTitles,
        }

        let titlesClass = checkProps.withTitles === true ? 'download-btn--titles' : '';

    a.download-btn(href=link class=checkProps.classes + ' ' + titlesClass)&attributes(attributes)
        -if(checkProps.text.length > 0)
            span.download-btn__column.download-btn__column--text
                span.download-btn__title Название
                span.download-btn__value!= checkProps.text
        -if(checkProps.type.length > 0)
            span.download-btn__column.download-btn__column--type
                span.download-btn__title Тип файла
                span.download-btn__value!= checkProps.type
        -if(checkProps.size.length > 0)
            span.download-btn__column.download-btn__column--size
                span.download-btn__title Размер
                span.download-btn__value!= checkProps.size
        -if(checkProps.date.length > 0)
            span.download-btn__column.download-btn__column--date
                span.download-btn__title Дата
                span.download-btn__value!= checkProps.date
        span.download-btn__icon
            svg
                use(xlink:href=`img/sprites/sprite.svg#${checkProps.iconName}`)