-
	const defaultTitleProps = {
		tag: 'h2',
		text: 'Заголовок',
		classes: '',
	}

mixin title(props = defaultTitleProps)
	-
		const checkProps = {
			tag: props.tag ? props.tag : defaultTitleProps.tag,
			text: props.text ? props.text : defaultTitleProps.text,            
			classes: props.classes ? props.classes : defaultTitleProps.classes
		}

	case checkProps.tag
		when 'h1'
			.title.title--h1(class=checkProps.classes)
				h1!= checkProps.text
		when 'h2'
			.title.title--h2(class=checkProps.classes)
				h2!= checkProps.text
		when 'h3'
			.title.title--h3(class=checkProps.classes)
				h1!= checkProps.text
		when 'h4'
			.title.title--h4(class=checkProps.classes)
				h2!= checkProps.text